<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Pokedex</title>
</head>
<body>

<div class="w3-container w3-margin-bottom">

    <div class="w3-container w3-sand">
        <h1>Pokedex</h1>
        <h5>table of pokemons from @Controller @Service @Repository and H2 DB</h5>
    </div>
    <Br>
    <div >
        <p><a th:href="@{/pipo/fakerPokemon(qtyPokemon=100)}" class="w3-button w3-purple">Create fake Pokémon on H2</a></p>
        <p><a th:href="@{/pipo/fakerTrainer(qtyTrainer=100)}" class="w3-button w3-purple">Create fake Trainer on H2</a></p>
        <p><a th:href="@{/pipo/createPokemon}" class="w3-button w3-green">Create new Pokémon on H2</a></p>
        <p><a th:href="@{/pipo/createTrainer}" class="w3-button w3-green">Create new Trainer on H2</a></p>
        <p><a th:href="@{/pipo/deleteAllPokemon}" class="w3-button w3-red">Delete all Pokémon on H2</a></p>
        <p><a th:href="@{/pipo/deleteAllTrainer}" class="w3-button w3-red">Delete all Trainer on H2</a></p>

    </div>
    <table>
        <tr>
            <th>
                Trainer Name
            </th>
            <th>
                Job
            </th>
            <th>
                Pokemon Name
            </th>
            <th>
                location
            </th>
            <th>
                number
            </th>
            <th>
                high
            </th>
            <th>
                kg
            </th>
            <th>
                use
            </th>
            <th>
                Show Pokemon
            </th>
            <th>
                Update Pokemon
            </th>
            <th>Delete</th>
        </tr>
        <tr th:each="pokemon:${pokemonsfromController}">

            <td  th:text="${pokemon.trainer?.name}"></td>
            <td  th:text="${pokemon.trainer?.job}"></td>
            <td  th:text="${pokemon.Name}"></td>
            <td  th:text="${pokemon.location}"></td>
            <td  th:text="${pokemon.number}"></td>
            <td  th:text="${pokemon.high}"></td>
            <td  th:text="${pokemon.kg}"></td>
            <td  th:text="${pokemon.use}"></td>
            <td><a th:href ="@{showPokemonById(pokemonIdFromView=${pokemon.pokemonId})}"
                   class="w3-button w3-blue">Show <span th:text="${pokemon.Name}"/></a></td>
            <td><a th:href ="@{updatePokemon(pokemonIdFromView=${pokemon.pokemonId})}"
                   class="w3-button w3-black">Update <span th:text="${pokemon.Name}"/></a></td>
            <td><a th:href ="@{deletePokemonById(pokemonIdFromView=${pokemon.pokemonId})}"
                   class="w3-button w3-red">Delete <span th:text="${pokemon.Name}"/></a></td>
            <td>
                <label class="w3-text-gray"><b>Select trainers</b></label><br>
                <select
                        class="w3-button w3-blue" id="selectTrainer" name="trainerId">

                    <option th:each="trainer : ${trainerfromController}"
                            th:value="${trainer.trainerId}"
                            th:text="${trainer.name}"></option>
                </select>
                <a th:href ="@{addTrainerToPokemon(pokemonIdFromView=${pokemon.pokemonId})}"
                   class="w3-button w3-red">Add Trainer to <span th:text="${pokemon.Name}"/></a>

            </td>





        </tr>


    </table>

    <table>
        <tr>
            <th>
                Trainer Name
            </th>
            <th>
                Job
            </th>
        </tr>
        <tr th:each="trainer:${trainerfromController}">
            <td  th:text="${trainer.name}"></td>
            <td  th:text="${trainer.job}"></td>
            <td><a th:href ="@{showTrainerById(trainerIdFromView=${trainer.trainerId})}"
                   class="w3-button w3-blue">Show <span th:text="${trainer.Name}"/></a></td>
            <td><a th:href ="@{updateTrainer(trainerIdFromView=${trainer.trainerId})}"
                   class="w3-button w3-black">Update <span th:text="${trainer.Name}"/></a></td>
            <td><a th:href ="@{deleteTrainerById(trainerIdFromView=${trainer.trainerId})}"
                   class="w3-button w3-red">Delete <span th:text="${trainer.Name}"/></a></td>

        </tr>
    </table>
</div>
</body>
</html>